<h1>Display Callsign: {{callsign}}</h1>
<p>Status: {{status}}</p>
<p>Class: {{class}}</p>
<p>Name: {{name}}</p>
<p>FRN: {{frn}}</p>
<p>City: {{address}}</p>
<p>Grid Square: {{grid}}</p>
<p>Grant Date: {{grantDate}}</p>
<p>Expiry Date: {{expiryDate}}</p>
<p>Latitude: {{latitude}}</p>
<p>Longitude: {{longitude}}</p>
<a href={{url}} target="_blank">ULS URL</a>